.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: #f5f6f7;
  --black-type: #0E073c;
  --body-font-color: #364D59;
  --white: #ffffff;
  --color-primary: #feb900;
  --color-secondary: #52565e;
}

body {
  color: var(--body-font-color);
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  display: block;
}

section {
  padding: 80px 0;
  overflow: hidden;
  background-color: #f5f6f7;
}

.main {
  background-color: #3a3a3a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.logo h1 span {
  color: orange;
}

.logo h1 {
  color: white;
}

.main_header {
  width: 100%;
  color: white;
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
}

.mainmenu {
  display: flex;
}

.mainmenu li {
  padding: 0px 15px;
  position: relative;
}

.mainmenu li a {
  padding: 5px 0px;
  color: white;
}

.mainmenu li a i {
  font-size: 12px;
  padding-left: 5px;
}

.mainmenu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-primary);
  visibility: hidden;
  width: 0px;
  transition: 0.5s;
}

.mainmenu li:hover>a::before {
  visibility: visible;
  width: 100%;
}

.submenu li:hover>a::before {
  visibility: hidden;
}

.petamenu li:hover>a::before {
  visibility: hidden;
}

.mainmenu .submenu {
  z-index: 3;
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  padding: 10px 0px;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 0.5s;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.mainmenu li:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 20px;
  transition: .5s;
}

.submenu li:hover a {
  color: var(--color-primary);
}

.submenu li a {
  font-weight: 300;
  position: relative;
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.submenu .petamenu {
  z-index: 5;
  background-color: white;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 230px;
  padding: 10px 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border: none;
}

.nav2 {
  background-color: rgba(0, 0, 0, 0.5);
}

.submenu li:hover .petamenu {
  opacity: 1;
  visibility: visible;
}

.petamenu li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 20px;
  transition: .5s;
}

.petamenu li:hover a {
  color: var(--color-primary) !important;
}

.petamenu li a {
  text-decoration: none;
  font-weight: 900;
  position: relative;
  color: black !important;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

.slider::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.item img {
  width: 100%;
  height: 785px;
  object-fit: cover;
}

.slider_content {
  position: absolute;
  width: 60%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider_text {
  text-align: center;
}

.slider_text h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
  margin: 0px 0px 30px;
  padding: 0px 0px 30px;
}

.slider_text h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.slider_text p {
  font-family: var(--body-font);
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0px 50px;
  margin: 0px 0px 16px;
}

.slider_content button {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px !important;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}

.slider_content button:hover {
  background-color: var(--color-primary);
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 20px 0px 20px 50px;
  width: 50%;
}

.content h3 {
  font-size: 36px;
  color: var(--color-secondary);
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}

.content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.content p {
  font-size: 14px;
}

.form {
  width: 50%;
}

form {
  background: #fff;
  padding: 30px;
  margin-left: 125px;
}

form h3 {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form p {
  font-size: 14px;
  margin-bottom: 20px;
  width: 100%;
}

.frm-btn {
  padding: 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_button {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  width: 150px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .col input {
  padding: 12px 12px;
  margin: 12px 0px;
  width: 100%;
}

.row .col textarea {
  padding: 12px 12px;
  margin: 12px 0px;
  width: 100%;
}





.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
  margin-bottom: 10px;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2::after {
  margin: 0px 0px 10px 15px;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header p {
  max-width: 55%;
  margin: auto;
}

.card-main {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin: 15px;
  width: calc(50% - 30px);
  display: flex;
}

.constructions .card-item {
  border: 1px solid rgba(82, 86, 94, 0.2);
  background: #fff;
  position: relative;
  border-radius: 0;
}

.constructions .card-item .card-img {
  width: 35%;
  min-height: 300px;
}

.card-img img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
}

.constructions .card-item .card-body {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  flex: 1 1 auto;
  color: var(--bs-card-color);
}

.constructions .card-item h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary);
}

.constructions .card-item p {
  color: var(--color-secondary);
  margin: 0;
}

.section4 {
  display: flex;
  flex-wrap: wrap;
}

.services .service-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  padding: 40px;
  background: #fff;
}

.services .service-item .icon {
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #f0f1f2;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -15px;
  transition: 0.3s;
}

.services .service-item:hover .icon:before {
  background: var(--color-primary);
}

.services .service-item:hover h3 {
  border-color: var(--color-primary);
}

.services .service-item .icon i {
  color: var(--color-secondary);
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #ebebed;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}




.section5 {
  display: flex;
  justify-content: space-around;
}

.alt-services {
  background-color: #fff;
}

.alt_img {
  width: 50%;
  padding: 0px 70px;
}

.alt_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alt-info {
  padding: 0px 20px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.alt-services .icon-box {
  margin-top: 50px;
  display: flex;
  position: relative;
}

.alt-services .icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: 0.3s;
}

.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}








.section6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.nav-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading .nav-item {
  width: 33.33%;
  padding: 0px 10px;
}

.features .nav-tabs {
  border: 0;
}

.features .nav-link.active {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.features .nav-link:hover h4 {
  color: var(--color-primary);
}

.features .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0 !important;
  border-bottom: 4px solid #e2e4e6 !important;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  transition: .3s;
}

.tab-main {
  display: flex;
}

.tab-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-img {
  width: 50%;
}

.tab-img img {
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.features .tab-content {
  margin-top: 30px;
}

.tab-content>.active {
  display: block;
}

.features .tab-panel h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features .tab-panel h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.features .tab-panel ul {
  list-style: none;
  padding: 0;
}

.features .tab-panel ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.features .tab-panel ul li {
  padding-top: 10px;
}



#projects {
  background-color: var(--theme-color);
}

.nav-heading {
  display: flex;
}

.projects .nav-tabs {
  justify-content: center;
  margin: 0px 0px 20px;
  border: 0;
}

.projects .portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.projects .nav-tabs li:first-child {
  margin-left: 0;
}

.projects .nav-tabs li:last-child {
  margin-right: 0;
}

.projects .nav-tabs li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  border: transparent;
  background-color: transparent !important;
  color: #364D59;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.projects .nav-tabs li:active {
  color: #feb900;
}

.projects .nav-tabs li:hover,
.projects .nav-tabs li.nav_head-active {
  color: var(--color-primary);
}

.tab-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tab-pic img {
  width: 100%;
  padding: 0px 5px;
}

.projects img {
  transition: 0.3s;
}

.our-project {
  position: relative;
  width: calc(33.33% - 10px);
}

.portfolio-info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  /* padding: 15px; */
}

.portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  background-color: var(--color-primary);
}

.portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.our-project:hover .portfolio-info {
  opacity: 1;
}








.blog-main {
  display: flex;
}

.recent-blog-posts .section-header {
  text-align: center;
  padding-bottom: 70px;
}

.recent-blog-posts .section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.recent-blog-posts .section-header h2:before {
  margin: 0 15px 10px 0;
}

.recent-blog-posts .section-header h2:before,
.recent-blog-posts .section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.recent-blog-posts .section-header h2:after {
  margin: 0 0 10px 15px;
}

.recent-blog-posts .section-header p {
  margin: 0 auto 0 auto;
}

.recent-blog-posts .post-item {
  width: 100%;
  padding: 0px 5px;
  position: relative;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.post-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.recent-blog-posts .post-item .post-img img {
  width: 100%;
  transition: 0.5s;
}

.recent-blog-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}

.recent-blog-posts .post-item .post-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.recent-blog-posts .post-item .post-title {
  font-size: 24px;
  color: var(--color-secondary);
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.meta {
  display: flex;
  align-items: center;
}

.recent-blog-posts .post-item .meta i {
  font-size: 16px;
  margin-right: 10px;
  color: var(--color-primary);
}

.recent-blog-posts .post-item .meta span {
  margin: 0px 8px;
  font-size: 15px;
  color: #838893;
}

.recent-blog-posts .post-item hr {
  color: #888;
  margin: 20px 0;
}

.recent-blog-posts .post-item .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #838893;
}

.recent-blog-posts .post-item .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.recent-blog-posts .post-item:hover .post-img img {
  transform: scale(1.1);
}

.recent-blog-posts .post-item:hover .post-title,
.recent-blog-posts .post-item:hover .readmore {
  color: var(--color-primary);
}








.footer {
  color: #fff;
  background: url(./assests/footer.jpeg) top center no-repeat;
  background-size: cover;
  font-size: 14px;
  padding: 80px 0 60px 0;
  position: relative;
}

.footer:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
}

.footer-content {
  position: relative;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff;
}

.footer .footer-content .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links .logo i {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 8px 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer-legal {
  position: relative;
  text-align: center;
}

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-legal .credits {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  font-size: 13px;
  color: #fff;
}

.footer .footer-legal .credits a {
  color: var(--color-primary);
}   